<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- <rewrite> 
            <rules>
                <rule name="httpheaderprotocol">
                    <match url="(.*)" negate="true" />
                    <action type="Rewrite" url="http://localhost:3000/{R:1}" />
                </rule>
            </rules>
        </rewrite> -->
		
		<httpProtocol>
			<customHeaders>
				<add name="Pragma" value="no-cache" />
				<add name="Cache-Control" value="no-cache" />
				<add name="Expires" value="-1" />
				<add name="Content-Security-Policy" value="default-src 'self' *; style-src 'self' https://fonts.googleapis.com/ 'sha256-47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=';
				script-src 'self' 'sha256-oRkffx8Ce6TXWYH8HIJC6vZa+1WiBvNseMMCYBjIwDs=' 'sha256-zpLjuq5ZCZXKdWxC6BI071cawKlPYZMsoIqDiTju2IE='; font-src 'self' https://fonts.gstatic.com/; connect-src 'self'; img-src 'self'; object-src 'none'; manifest-src 'self';
						" />
				<add name="X-Frame-Options" value="SAMEORIGIN" />
				<remove name="X-Content-Type-Options" />
				<remove name="X-Powered-By" />
				<add name="X-Content-Type-Options" value="nosniff" />
				<add name="Set-Cookie" value="flavor=choco; SameSite=LAX; Secure=true; HttpOnly=true" />
				<add name="X-XSS-Protection" value="1; mode=block" />
			</customHeaders>
		</httpProtocol>
    </system.webServer>
</configuration>
